<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" type="text/css" href="/style.css">
<body>
<p >
<hh>
<b>
  Student Portfolio
  </b>
</hh>
</p>
<hh1>
<b>
Welcome
</b>
</hh1>
<div class="login-page">
  <div>
    </form>
    <form class="animate form" method="post" action="/authenticate">


      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button class="green" method="submit" value="Submit">login</button>
    <b><p class="message">Not registered? <a  href="/register">Create an account</a></p></b>

</form>

      <form class="animate form" id="login" action="/guestview">
      <button class="blue">Continue As Guest</button>

      </form>

  </div>
</div>

</body>
</html>
